@import './var.module.scss';

page {
  height: 100%;
  font-family: $base-font-family;
  background: $background;
}

// @media (prefers-color-scheme: dark) {
//   page {
//     filter: invert(1) hue-rotate(0.5turn);
//   }
//   img {
//     opacity: 0.75;
//   }
// }

// H5 原生tabbar
.uni-tabbar {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  background: $navbar-background !important;
}

/* 解决小程序和app滚动条的问题 */
/* #ifdef MP-WEIXIN || APP-PLUS */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}
/* #endif */

/* 解决H5 的问题 */
/* #ifdef H5 */
uni-scroll-view .uni-scroll-view::-webkit-scrollbar {
  /* 隐藏滚动条，但依旧具备可以滚动的功能 */
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}
/* #endif */
