// Color Palette
$purple: #6b5ffd;
$red: #e36760;
$green: #39d79d;
$gray: #8d92a3;
$white: #fff;
$black: #000;

// background
$background: #f6f6f7;
$purple-background: #efeffc;

// font-size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

// font-family
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial,
  Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// navbar
$navbar-height: 44px;
$navbar-background: #fff;

$dark-background: #222;

:export {
  purple: $purple;
  red: $red;
  green: $green;
  gray: $gray;
}
