// Color Palette
$purple: var(--purple, #6b5ffd);
$red: var(--red, #e36760);
$green: var(--green, #39d79d);
$gray: var(--gray, #8d92a3);
$white: var(--white, #fff);
$black: var(--black, #000);

// background
$background: var(--background-color, #f6f6f7);
$background-purple: var(--background-purple, #efeffc);

// text-color
$text-color: var(--text-color, #333);
$text-color-black: var(--text-color-black, #000);

// border-color
$border-color: var(--border-color, #eee);

// font-size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

// font-family
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial,
  Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// navbar
$navbar-height: 44px;
$navbar-background: var(--navbar-background, #fff);

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #222;
//     --text-color: #fff;
//     --navbar-background: #000;
//   }
// }

:export {
  purple: $purple;
  red: $red;
  green: $green;
  gray: $gray;
  background: $background;
  textColor: $text-color;
  navbarBackground: $navbar-background;
}
